/* My custom styling */
#root {
    min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Satisfy&display=swap');

.logo-1 {
    font-family: 'Righteous', cursive;
}

.logo-2 {
    font-family: 'Satisfy', cursive;
}

.table-max-width {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@import 'bootstrap/scss/bootstrap';